"*":
  "atom-beautify":
    general:
      _analyticsUserId: "921e05f3-ef2f-4958-92bf-44cbdd6423ff"
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "bracket-matcher"
      "autoflow"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    softTabs: false
  "exception-reporting":
    userId: "dfc79158-e9a0-78c6-7c4d-302b5a6c66aa"
  welcome:
    showOnStartup: false
".bat.cmake.source.template":
  editor:
    tabLength: 4
".c.cmake.source.template":
  editor:
    tabLength: 4
".c.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    tabLength: 4
".cache.cmake.source":
  editor:
    tabLength: 4
".cmake.cpp.source.template":
  editor:
    tabLength: 4
".cmake.shell.source.template":
  editor:
    tabLength: 4
".cmake.source":
  editor:
    tabLength: 4
".cmake.source.template":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    tabLength: 4
